<h1>Pandas</h1>

In [5]:
import pandas as p

<h3>Pandas Series</h3>

In [6]:
a = (1,2,3,4,5)
df = pd.Series(a)

In [8]:
print(df)

0    1
1    2
2    3
3    4
4    5
dtype: int64

<h3>Create Labels
</h3>

In [9]:
a = (1,2,3,4,5)
df = pd.Series(a,index=("a","b","c","d","e"))

In [12]:
print(df["b"])

2

<h3>Key/Value Objects as Series
</h3>

In [13]:
a = {"name":"hans","age":24}
df = pd.Series(a)
print(df)

name    hans
age       24
dtype: object

<h3>DataFrames</h3>
<p>A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.</p>

In [44]:
new = {"name":["hans","ravi","rohit"],
       "age":[15,None,17]}
df = pd.DataFrame(new,index=(1,2,3))
print(df)

    name   age
1   hans  15.0
2   ravi   NaN
3  rohit  17.0

In [45]:
df["subject"] = [1,2,None]
print(df)

    name   age  subject
1   hans  15.0      1.0
2   ravi   NaN      2.0
3  rohit  17.0      NaN

In [48]:
df.fillna(5,axis=1,inplace=True)
print(df)

    name   age subject
1   hans  15.0     1.0
2   ravi     5     2.0
3  rohit  17.0       5

In [43]:
df.dropna(inplace=True,axis=1)
print(df)

    name
1   hans
2   ravi
3  rohit

In [36]:
df.drop(columns=("age"))

    name  subject
1   hans     math
2   ravi     math
3  rohit  english

In [32]:
df.dropna(inplace=True)
print(df)
df.reset_index(inplace=True)
print(df)

    name   age  subject
1   hans  15.0     math
3  rohit  17.0  english
   index   name   age  subject
0      1   hans  15.0     math
1      3  rohit  17.0  english

In [27]:
print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, 1 to 3
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   name     3 non-null      object
 1   age      2 non-null      float64
 2   subject  3 non-null      object
dtypes: float64(1), object(2)
memory usage: 96.0+ bytes
None

<h3>Load Files Into a DataFrame
</h3>

In [77]:
df = pd.read_csv("Reliance_1MinData.csv")

In [59]:
print(df.shape)
print(df.iloc[200:500])

(91908, 7)
                datetime     open     high      low    close  volume    symbol
200  2023-01-02 12:35:00  2563.85  2564.90  2563.80  2564.90    3136  RELIANCE
201  2023-01-02 12:36:00  2564.35  2565.40  2564.05  2564.95    2892  RELIANCE
202  2023-01-02 12:37:00  2564.05  2564.75  2564.00  2564.00    2274  RELIANCE
203  2023-01-02 12:38:00  2564.00  2564.50  2563.75  2564.50    3929  RELIANCE
204  2023-01-02 12:39:00  2564.00  2564.60  2563.60  2564.00    3169  RELIANCE
..                   ...      ...      ...      ...      ...     ...       ...
495  2023-01-03 11:15:00  2567.45  2567.90  2567.20  2567.90    4804  RELIANCE
496  2023-01-03 11:16:00  2567.90  2567.90  2567.20  2567.75    3916  RELIANCE
497  2023-01-03 11:17:00  2567.75  2569.00  2567.65  2568.10    4373  RELIANCE
498  2023-01-03 11:18:00  2568.10  2568.10  2567.15  2567.30    3348  RELIANCE
499  2023-01-03 11:19:00  2567.30  2567.60  2566.90  2567.05    3262  RELIANCE

[300 rows x 7 columns]

In [80]:
df["datetime"] = pd.to_datetime(df.datetime)
df.set_index("datetime",inplace=True)

In [91]:
df_5 = df.resample("5min").agg({
    "open":"first",
    "high":"max",
    "low":"min",
    "close":"last",
    "volume":"sum"
    
})

In [92]:
print(df_5.head())

                        open     high      low    close  volume
datetime
2023-01-02 09:15:00  2550.00  2556.40  2548.20  2549.80  122343
2023-01-02 09:20:00  2549.80  2561.65  2549.45  2560.05   61621
2023-01-02 09:25:00  2560.35  2562.95  2553.30  2555.00   57525
2023-01-02 09:30:00  2554.80  2562.00  2554.00  2560.95   45656
2023-01-02 09:35:00  2560.00  2565.90  2558.40  2565.40   51269


<h2>Bollinger Bands Formula</h2>


<p>
Moving Average (MA): <code>(Sum of (Price values over N periods)) / N</code>

Standard Deviation (SD): <code>âˆš(Sum of ((Price values - MA)^2) / N)</code>



Upper Bollinger Band (UBB): <code>MA + (2 x SD)</code>

Lower Bollinger Band (LBB): <code>MA - (2 x SD)</code>

Middle Bollinger Band (MBB): <code>MA</code>
</p>

In [104]:
df_5["MA"] = df_5.close.rolling(20).mean()
std = df_5.MA.rolling(20).std()
df_5["UBB"] = df_5.MA +(2*std)
df_5["LBB"] = df_5.MA -(2*std)

In [105]:
print(df_5.tail())

                        open     high      low    close  volume         MA  \
datetime
2023-12-29 15:05:00  2583.65  2587.80  2582.65  2585.95  228013  2586.5325
2023-12-29 15:10:00  2585.30  2586.65  2580.95  2582.70  289409  2586.1925
2023-12-29 15:15:00  2582.20  2584.60  2581.60  2582.95  135749  2585.9400
2023-12-29 15:20:00  2582.95  2585.00  2580.85  2584.00  173548  2585.7400
2023-12-29 15:25:00  2584.00  2589.00  2584.00  2587.00  425594  2585.7400

                             UBB          LBB
datetime
2023-12-29 15:05:00  2590.806459  2582.258541
2023-12-29 15:10:00  2590.351882  2582.033118
2023-12-29 15:15:00  2589.970189  2581.909811
2023-12-29 15:20:00  2589.629395  2581.850605
2023-12-29 15:25:00  2589.456777  2582.023223


<h2>MACD Formula</h2>


<p>
MACD Line: <code>EMA12 - EMA26</code>

Signal Line: <code>EMA9 of MACD Line</code>

Histogram: <code>MACD Line - Signal Line</code>



EMA12: <code>Exponential Moving Average over 12 periods</code>

EMA26: <code>Exponential Moving Average over 26 periods</code>

EMA9: <code>Exponential Moving Average over 9 periods</code>
</p>

In [114]:
ema12 = df_5.close.ewm(12).mean()
ema26 = df_5.close.ewm(26).mean()

df_5["MACD"] = ema12 - ema26
df_5["Signal"] = df_5.MACD.ewm(9).mean()
df_5["Histo"] = df_5.MACD - df_5.Signal

In [115]:
print(df_5)

                        open     high      low    close  volume         MA  \
datetime
2023-01-02 09:15:00  2550.00  2556.40  2548.20  2549.80  122343        NaN
2023-01-02 09:20:00  2549.80  2561.65  2549.45  2560.05   61621        NaN
2023-01-02 09:25:00  2560.35  2562.95  2553.30  2555.00   57525        NaN
2023-01-02 09:30:00  2554.80  2562.00  2554.00  2560.95   45656        NaN
2023-01-02 09:35:00  2560.00  2565.90  2558.40  2565.40   51269        NaN
...                      ...      ...      ...      ...     ...        ...
2023-12-29 15:05:00  2583.65  2587.80  2582.65  2585.95  228013  2586.5325
2023-12-29 15:10:00  2585.30  2586.65  2580.95  2582.70  289409  2586.1925
2023-12-29 15:15:00  2582.20  2584.60  2581.60  2582.95  135749  2585.9400
2023-12-29 15:20:00  2582.95  2585.00  2580.85  2584.00  173548  2585.7400
2023-12-29 15:25:00  2584.00  2589.00  2584.00  2587.00  425594  2585.7400

                             UBB          LBB      MACD    Signal     Histo
datetime
2023-01-02 09:15:00          NaN          NaN  0.000000  0.000000  0.000000
2023-01-02 09:20:00          NaN          NaN  0.108302  0.057001  0.051301
2023-01-02 09:25:00          NaN          NaN  0.068965  0.061416  0.007549
2023-01-02 09:30:00          NaN          NaN  0.147194  0.086358  0.060835
2023-01-02 09:35:00          NaN          NaN  0.270260  0.131266  0.138994
...                          ...          ...       ...       ...       ...
2023-12-29 15:05:00  2590.806459  2582.258541 -1.284395 -0.718714 -0.565680
2023-12-29 15:10:00  2590.351882  2582.033118 -1.416694 -0.788512 -0.628182
2023-12-29 15:15:00  2589.970189  2581.909811 -1.520739 -0.861735 -0.659004
2023-12-29 15:20:00  2589.629395  2581.850605 -1.569231 -0.932485 -0.636747
2023-12-29 15:25:00  2589.456777  2582.023223 -1.494535 -0.988690 -0.505845

[104043 rows x 11 columns]


<h1>Pandas Functions and Methods</h1>
	
<h2>Data Manipulation</h2>
	<table>
		<tr>
			<th>Function</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><code>concat()</code></td>
			<td>Concatenate DataFrames</td>
		</tr>
		<tr>
			<td><code>merge()</code></td>
			<td>Merge DataFrames</td>
		</tr>
		<tr>
			<td><code>join()</code></td>
			<td>Join DataFrames</td>
		</tr>
		<tr>
			<td><code>groupby()</code></td>
			<td>Group data by columns</td>
		</tr>
		<tr>
			<td><code>pivot_table()</code></td>
			<td>Create pivot tables</td>
		</tr>
		<tr>
			<td><code>melt()</code></td>
			<td>Unpivot data</td>
		</tr>
		<tr>
			<td><code>stack()</code></td>
			<td>Stack data</td>
		</tr>
		<tr>
			<td><code>unstack()</code></td>
			<td>Unstack data</td>
		</tr>
		<tr>
			<td><code>sort_values()</code></td>
			<td>Sort data</td>
		</tr>
		<tr>
			<td><code>sort_index()</code></td>
			<td>Sort index</td>
		</tr>
		<tr>
			<td><code>reset_index()</code></td>
			<td>Reset index</td>
		</tr>
		<tr>
			<td><code>set_index()</code></td>
			<td>Set index</td>
		</tr>
		<tr>
			<td><code>rename()</code></td>
			<td>Rename columns</td>
		</tr>
		<tr>
			<td><code>drop()</code></td>
			<td>Drop rows or columns</td>
		</tr>
		<tr>
			<td><code>drop_duplicates()</code></td>
			<td>Drop duplicate rows</td>
		</tr>
	</table>
	
<h2>Data Analysis</h2>
	<table>
		<tr>
			<th>Function</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><code>mean()</code></td>
			<td>Calculate mean</td>
		</tr>
		<tr>
			<td><code>median()</code></td>
			<td>Calculate median</td>
		</tr>
		<tr>
			<td><code>mode()</code></td>
			<td>Calculate mode</td>
		</tr>
		<tr>
			<td><code>std()</code></td>
			<td>Calculate standard deviation</td>
		</tr>
		<tr>
			<td><code>var()</code></td>
			<td>Calculate variance</td>
		</tr>
		<tr>
			<td><code>min()</code></td>
			<td>Find minimum value</td>
		</tr>
		<tr>
			<td><code>max()</code></td>
			<td>Find maximum value</td>
		</tr>
		<tr>
			<td><code>sum()</code></td>
			<td>Calculate sum</td>
		</tr>
		<tr>
			<td><code>prod()</code></td>
			<td>Calculate product</td>
		</tr>
		<tr>
			<td><code>corr()</code></td>
			<td>Calculate correlation</td>
		</tr>
		<tr>
			<td><code>cov()</code></td>
			<td>Calculate covariance</td>
		</tr>
		<tr>
			<td><code>describe()</code></td>
			<td>Summary statistics</td>
		</tr>
	</table>




<h2>Data Cleaning</h2>
	<table>
		<tr>
			<th>Function</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><code>fillna()</code></td>
			<td>Fill missing values</td>
		</tr>
		<tr>
			<td><code>dropna()</code></td>
			<td>Drop missing values</td>
		</tr>
		<tr>
			<td><code>replace()</code></td>
			<td>Replace values</td>
		</tr>
		<tr>
			<td><code>astype()</code></td>
			<td>Convert data types</td>
		</tr>
		<tr>
			<td><code>to_numeric()</code></td>
			<td>Convert to numeric</td>
		</tr>
		<tr>
			<td><code>to_datetime()</code></td>
			<td>Convert to datetime</td>
		</tr>
		<tr>
			<td><code>to_timedelta()</code></td>
			<td>Convert to timedelta</td>
		</tr>
	</table>
	
<h2>Data Input/Output</h2>
	<table>
		<tr>
			<th>Function</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><code>read_csv()</code></td>
			<td>Read CSV file</td>
		</tr>
		<tr>
			<td><code>read_excel()</code></td>
			<td>Read Excel file</td>
		</tr>
		<tr>
			<td><code>read_json()</code></td>
			<td>Read JSON file</td>
		</tr>
		<tr>
			<td><code>read_html()</code></td>
			<td>Read HTML file</td>
		</tr>
		<tr>
			<td><code>to_csv()</code></td>
			<td>Write CSV file</td>
		</tr>
		<tr>
			<td><code>to_excel()</code></td>
			<td>Write Excel file</td>
		</tr>
		<tr>
			<td><code>to_json()</code></td>
			<td>Write JSON file</td>
		</tr>
		<tr>
			<td><code>to_html()</code></td>
			<td>Write HTML file</td>
		</tr>
	</table>
	
<h2>Time Series</h2>
	<table>
		<tr>
			<th>Function</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><code>resample()</code></td>
			<td>Resample data</td>
		</tr>
		<tr>
			<td><code>rolling()</code></td>
			<td>Rolling window calculations</td>
		</tr>
		<tr>
			<td><code>ewm()</code></td>
			<td>Exponential weighted moving averages</td>
		</tr>
		<tr>
			<td><code>shift()</code></td>
			<td>Shift data</td>
		</tr>
		<tr>
			<td><code>diff()</code></td>
			<td>Calculate differences</td>
		</tr>
	</table>
	
<h2>Categorical</h2>
	<table>
		<tr>
			<th>Function</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><code>astype('category')</code></td>
			<td>Convert to categorical</td>
		</tr>
		<tr>
			<td><code>cat.categories</code></td>
			<td>Get categories</td>
		</tr>
		<tr>
			<td><code>cat.codes</code></td>
			<td>Get category codes</td>
		</tr>
	</table>
	
<h2>Indexing/Selecting</h2>
	<table>
		<tr>
			<th>Function</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><code>loc[]</code></td>
			<td>Label-based indexing</td>
		</tr>
		<tr>
			<td><code>iloc[]</code></td>
			<td>Integer-based indexing</td>
		</tr>
		<tr>